In [28]:
import pandas as pd
import os

In [29]:
# once off run
# os.chdir('./pandas-data-selection-and-filtering')

In [30]:
df = pd.read_csv('aac_shelter_outcomes.csv')
print(df.head())

  age_upon_outcome animal_id animal_type                    breed  \
0          2 weeks   A684346         Cat   Domestic Shorthair Mix
1           1 year   A666430         Dog               Beagle Mix
2           1 year   A675708         Dog                 Pit Bull
3          9 years   A680386         Dog  Miniature Schnauzer Mix
4         5 months   A683115       Other                  Bat Mix

          color        date_of_birth             datetime  \
0  Orange Tabby  2014-07-07T00:00:00  2014-07-22T16:04:00
1   White/Brown  2012-11-06T00:00:00  2013-11-07T11:47:00
2    Blue/White  2013-03-31T00:00:00  2014-06-03T14:20:00
3         White  2005-06-02T00:00:00  2014-06-15T15:50:00
4         Brown  2014-01-07T00:00:00  2014-07-07T14:04:00

             monthyear     name outcome_subtype outcome_type sex_upon_outcome
0  2014-07-22T16:04:00      NaN         Partner     Transfer      Intact Male
1  2013-11-07T11:47:00     Lucy         Partner     Transfer    Spayed Female
2  2014-06-03T14:20:00  *Johnny             NaN     Adoption    Neutered Male
3  2014-06-15T15:50:00   Monday         Partner     Transfer    Neutered Male
4  2014-07-07T14:04:00      NaN     Rabies Risk   Euthanasia          Unknown

Select data with Pandas 
select Animal_type, color, breed

In [31]:
df_select = df[['animal_type', 'breed', 'color']]
print(df_select.head())

  animal_type                    breed         color
0         Cat   Domestic Shorthair Mix  Orange Tabby
1         Dog               Beagle Mix   White/Brown
2         Dog                 Pit Bull    Blue/White
3         Dog  Miniature Schnauzer Mix         White
4       Other                  Bat Mix         Brown

In [32]:
df.loc[:, 'date_of_birth'] = pd.to_datetime(df['date_of_birth'])

C:\Users\stehayes\AppData\Local\Temp\ipykernel_668\3286189985.py:1: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df.loc[:, 'date_of_birth'] = pd.to_datetime(df['date_of_birth'])

Lets create a week column

In [33]:
df.loc[:,'week'] = df['date_of_birth'].dt.week

C:\Users\stehayes\AppData\Local\Temp\ipykernel_668\2532956460.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df.loc[:,'week'] = df['date_of_birth'].dt.week

We can also create month and year columns:

In [34]:
df.loc[:,'year'] = df['date_of_birth'].dt.year
df.loc[:,'month'] = df['date_of_birth'].dt.month

In [35]:
print(df.head())

  age_upon_outcome animal_id animal_type                    breed  \
0          2 weeks   A684346         Cat   Domestic Shorthair Mix
1           1 year   A666430         Dog               Beagle Mix
2           1 year   A675708         Dog                 Pit Bull
3          9 years   A680386         Dog  Miniature Schnauzer Mix
4         5 months   A683115       Other                  Bat Mix

          color date_of_birth             datetime            monthyear  \
0  Orange Tabby    2014-07-07  2014-07-22T16:04:00  2014-07-22T16:04:00
1   White/Brown    2012-11-06  2013-11-07T11:47:00  2013-11-07T11:47:00
2    Blue/White    2013-03-31  2014-06-03T14:20:00  2014-06-03T14:20:00
3         White    2005-06-02  2014-06-15T15:50:00  2014-06-15T15:50:00
4         Brown    2014-01-07  2014-07-07T14:04:00  2014-07-07T14:04:00

      name outcome_subtype outcome_type sex_upon_outcome  week  year  month
0      NaN         Partner     Transfer      Intact Male    28  2014      7
1     Lucy         Partner     Transfer    Spayed Female    45  2012     11
2  *Johnny             NaN     Adoption    Neutered Male    13  2013      3
3   Monday         Partner     Transfer    Neutered Male    22  2005      6
4      NaN     Rabies Risk   Euthanasia          Unknown     2  2014      1

Finally, we can select our engineered columns along with an original column, say sex_upon_outcome:

In [36]:
df_select = df[['animal_type', 'breed', 'color', 'week', 'year', 'month','sex_upon_outcome']]

In [37]:
print(df_select.head())

  animal_type                    breed         color  week  year  month  \
0         Cat   Domestic Shorthair Mix  Orange Tabby    28  2014      7
1         Dog               Beagle Mix   White/Brown    45  2012     11
2         Dog                 Pit Bull    Blue/White    13  2013      3
3         Dog  Miniature Schnauzer Mix         White    22  2005      6
4       Other                  Bat Mix         Brown     2  2014      1

  sex_upon_outcome
0      Intact Male
1    Spayed Female
2    Neutered Male
3    Neutered Male
4          Unknown

Filtering data with Pandas!

In [38]:
# Filter by year 2010
print(set(df_select['year'].values))

{1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017}

In [39]:
df_select = df_select[df_select['year'] == 2010]
print(set(df_select['year'].values))

{2010}

Filter by categorical values

In [40]:
print(set(df_select['sex_upon_outcome'].values))

{'Neutered Male', 'Unknown', 'Intact Male', 'Spayed Female', 'Intact Female'}

In [41]:
df_select_new = df_select[df_select['sex_upon_outcome'] == 'Intact Male']

In [43]:
print(set(df_select_new['sex_upon_outcome'].values))

{'Intact Male'}

In [44]:
df_select_new = df_select[df_select['sex_upon_outcome'].isin(['Intact Male', 'Spayed Female'])]

In [45]:
print(set(df_select_new['sex_upon_outcome'].values))

{'Intact Male', 'Spayed Female'}